<div class="container-smoke flex">
    <div class="content">
        <p>about works!</p>

        <div>
        <img src="../../assets/man.jpeg" alt="" style="float: right;">
        <p style="flex-wrap: wrap;display:flex;">Kalman Gochman (1922-2007) was the author of the books "'Class reunion'", and "Why did you survive?" in which he wrote a personal narrative of his experience of the holocaust, and how he survived nine concentration and labor camps, including Auschwitz, Majdanek, and Mauthausen.</p>
        <p>Kalman immigrated to Israel in the year 1958 and lived there since, with his loving wife Galia and children: Simcha, Rivka (and from his first marriage) Tanya.</p>
        <p>He was talented in many arts including playing the Violin, oil painting and various percussion instrument.</p>
        <p>The first book - 'Class reunion' was written in yedish as soon as kalman was freed from the camps by the American army, and later translated to hebrew and published by him.</p>
        </div>
        
    </div>
    </div>